<button (click)="toggleSelection()">Toggle selection</button>

<div class="">
    <p>Total count: <span>{{count}}</span></p>
    <p>Selected records count: <span>{{selectedCount}}</span></p>
</div>
<ag-grid-angular
    #agGrid
    style="width: 1200px; height: 800px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    (gridReady)="onGridReady($event)"
    (selectionChanged) = 'onSelectionChanged($event)'
    [paginationPageSize] = 'paginationPageSize'
    >
</ag-grid-angular>